.fieloplt-add-to-cart{
  .fielo-button__submit {
    @include cartIcon;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #FFF;
    width: 100px;
  }
}

.fieloplt-add-to-cart__quantity {
  height: 30px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid;
  border-color: $safeColor;
}

@media #{$bp-mobile-3} {
  .fieloplt-add-to-cart{
    .fielo-button__submit {
      border-radius: 5px;
    }
  }
  .fieloplt-add-to-cart__quantity {
    border-radius: 5px;
  }
}
