// Fielo Buttons
.fielo-button{
  border: none;
  color: #FFF;
  font-size: 1.2em;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 7px 20px;
  margin: 5px 0;
  &--safe {
    background-color: $safeColor;
  }
  &--danger,
  &__cancel {
    background-color: $dangerColor;
  }
}

.fielo-button__submit {
  background-color: $safeColor;
}

.fielo-button__submit.fielo-button--danger {
    background-color: $dangerColor;
}



.fielo-table {
  .fielo-field--is-ToggleManager,
  .fielo-field--is-BlockUnblock,
  .fielo-field--is-HandleInvitations {
    .fielo-button {
      width: 100%;
    }
  }
}

@media #{$bp-mobile-3} {
  .fielo-table {
    .fielo-field--is-ToggleManager,
    .fielo-field--is-BlockUnblock,
    .fielo-field--is-HandleInvitations {
      text-align: center;

      .fielo-button {
        width: auto;
      }
    }
  }

}
