.fielo-catalog {
  .fielo-link {
    color: inherit;
  }
  .fielo-record {
    position:relative;
  }
  &[data-layout="grid"] .fielo-field {
    background: #cccccc;
    text-align: center;

    &.fielo-field--is-ViewImage {
      background: none;
      border: 1px solid #000000;
      padding: 0;
    }
    &.fielo-field--is-PointsCant__c .fielo-field__value {
      font-weight: bold;
    }
    &.fielo-field--is-Tags {
      position: absolute;
      top: 40px;
      background: transparent;
    }
  }
}

.fielo-modal[data-called-by="catalog"] {

  .fielo-field__label,
  .fielo-field__value {
    margin: 0;
  }
  .fielo-field--is-detail {
    margin-top: 30px;
  }
  .fielo-detail .fielo-field {

      &.fielo-field--is-Name {
        font-weight: bold;
        color: #333333;
      }
      &.fielo-field--is-FieloAlpha__PointsCant__c {
        .fielo-field__label,
        .fielo-field__value {
          width: auto;
        }
        .fielo-field__value {
          margin-left: 5px;
          color: #cc0000;
          font-weight: bold;
        }
      }
      &.fielo-field--is-FieloAlpha__Description__c {
        margin: 20px 0;
      }

    }


}
