.fielo-modal {
  z-index: 9999;
}

.fielo-modal__body {
  width: 70%;
  padding: 20px;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  margin-left: -35%;
  left: 50%;
  .fielo-field--is-FieloAlpha__Title__c {
    font-size: 27px;
    line-height: 0.3em;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: #4F4F4F;
  }
}

.fielo-modal__body-container{}

.fielo-modal__close {
  font-size: 0;
  top: 6.5%;
  right: 11%;
  &::before{
    //content: "✕";
    //content: "✖";
    content: "×";
    font-size: 30px;
  }
}

