// Para modificar el CORE de FIELO //

.fielo-banner-widget .fielo-field--is-Name {
  color: none; // !!!!!!!!!!!!!        porque esta regla?
}


// Esto es parte del theme en el archivo components/_contentFeed.scss
.fielo-content-feed .fielo-table__head .fielo-record {
  background: none !important;
  th {
    color: #ffffff !important;
  }
}


a:hover {
  //text-decoration: underline;
  text-decoration: none;
}


// Breakpoints and stuff
@import '_variables';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

// Importa vistas
@import 'mobile/views/_component';
@import 'mobile/views/_modal';
@import 'mobile/views/_header';
@import 'mobile/views/_footer';
@import 'mobile/views/_table';
@import 'mobile/views/_grid';
@import 'mobile/views/_forms';
@import 'mobile/views/_slider';

// Importa Componentes
@import 'mobile/components/_buttons';
@import 'mobile/components/_shoppingCart';
@import 'mobile/components/_catalog';
@import 'mobile/components/_addToCart';
@import 'mobile/components/_contentFeed';
@import 'mobile/components/_filter';
@import 'mobile/components/_navigationDetail';
@import 'mobile/components/_login';
@import 'mobile/components/_paginator';
@import 'mobile/components/_register';



@media #{$bp-mobile-1} {}
@media #{$bp-mobile-2} {}
@media #{$bp-mobile-3} {}
@media #{$bp-mobile-4} {}
@media #{$bp-mobile-5} {}
